.button-cta {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  color: var(--blue-600);
  background-color: var(--blue-50);
  border-radius: 9999px;
}

.cta-buy-now {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  color: var(--blue-50);
  background-color: var(--blue-600);
  border-radius: 9999px;
}
