.button-cta {
  display: inline-block;
  border-radius: 9999px;
  background-color: var(--blue-50);
  color: var(--blue-600);
  font-weight: 500;
  padding: 0.25rem 0.75rem;
}

.cta-buy-now {
  margin-top: 1rem;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9999px;
  background-color: var(--blue-600);
  color: var(--blue-50);
  font-weight: 500;
  padding: 0.5rem 1.25rem;
}
