.container {
  width: 100%;
  max-width: 1280px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  scroll-padding-top: 1rem;
}

.hero {
  margin-top: calc(var(--header-height) + 1rem);
}

.paragraph {
  max-width: 768px;
}

.cta {
  background-image: linear-image(to top, var(--blue-50), var(--blue-950));
}

@media (min-width: 1280px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .section {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}
