footer {
  color: var(--blue-50);
  background-color: var(--blue-950);
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footer-logo a {
  font-weight: 600;
}

.footer-logo p {
  color: var(--blue-300);
}

.footer-nav {
  display: flex;
  gap: 0.5rem;
  color: var(--blue-300);
}

@media (min-width: 1024px) {
  footer > div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  .footer-nav {
    gap: 1rem;
  }
}
