.gallery-grid {
  display: flex;
  flex-direction: row;

  max-height: 50%;
  padding-right: -1rem;
  padding-left: -1rem;
  margin-top: 2rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.gallery-grid > div {
  flex-shrink: 0;
  width: 100%;
  scroll-padding-top: 6rem;
}

.gallery-grid img {
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  object-fit: contain;
}

.gallery-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.gallery-thumbnails > * {
  width: 6rem;
  height: 6rem;
}

.gallery-thumbnails img {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}
