nav {
  background-color: var(--blue-600);
  color: var(--blue-50);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-logo {
  font-weight: 700;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-top: 8rem;
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: relative;
  z-index: 10;
  padding-bottom: 1rem;
}

@media (max-width: 425px) {
  nav.container {
    justify-content: space-between;
  }

  .header-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .hero-image {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
