.title {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 0.5rem;
  color: var(--blue-50);
}

.section-title {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.supporting-text {
  color: #475569;
  font-size: 1.125rem;
  line-height: 1.5;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 2rem;
    letter-spacing: -0.025em;
  }
}

@media (min-width: 1024px) {
  .copyright {
    text-align: right;
  }
}
